@CHARSET "UTF-8";

* System Name, CSS Version_Creater_Date */
/* Common */
body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select
	{
	margin: 0;
	padding: 0
}

body {
	margin:0px;
}


body,input,textarea,select,button,table {
	font-family: 'Bubbler One','돋움', Dotum, AppleGothic, sans- serif;
	font-size: 1em
}

img,fieldset {
	border: 0
}

ul,ol {
	list-style: none
}

em,address {
	font-style: normal
}

a {
	text-decoration: none
}

a:hover,a:active,a:focus {
	text-decoration: underline
}

div {
	border:none;
}

.span-3{
	width:25%;
}
.span-6{
	width:50%;	
}
.span-9{
	width:75%;
}

.span-12{
	width:100%;
}

.left{
	float:left;
}
.right{
	float:right;
}